@font-face {
  font-family: 'Outfit-Light';
  font-weight: 300;
  src: url('./assets/fonts/Outfit-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'BigShouldersDisplay-Black';
  font-weight: 900;
  src: url('./assets/fonts/BigShouldersDisplay-Black.ttf') format('truetype');
}

/* color variables */

:root {
  --color-brand-gold: #d5966c;
  --color-brand-black: #151515;
  --color-brand-gray: #444444;
  --color-brand-white: #ffffff;
}

/* reset*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* typography */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-family: 'Outfit-Light', Arial, sans-serif;
  font-size: 1.8rem;
  color: var(--color-brand-gray);
}

p.small {
  font-size: 1.6rem;
}

@media (min-width: 1100px) {
  p {
    font-size: 2.2rem;
  }
  p.small {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'BigShouldersDisplay-Black', Arial, sans-serif;
  line-height: 0.9;
  color: var(--color-brand-black);
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
}

@media (min-width: 550px) {
  h1 {
    font-size: 7rem;
  }
}

@media (min-width: 1100px) {
  h1 {
    font-size: 9.6rem;
  }
}

h2 {
  font-size: 5rem;
}

@media (min-width: 550px) {
  h2 {
    font-size: 5.5rem;
  }
}

@media (min-width: 1100px) {
  h2 {
    font-size: 7rem;
  }
}

h3 {
  font-size: 5rem;
}

@media (min-width: 1100px) {
  h3 {
    font-size: 6rem;
  }
}

h4 {
  font-size: 3.2rem;
}

@media (min-width: 1100px) {
  h4 {
    font-size: 3.6rem;
  }
}

/* buttons */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: 'BigShouldersDisplay-Black', Arial, sans-serif;
  font-size: 2rem;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.btn__header {
  background-color: var(--color-brand-black);
  color: var(--color-brand-white);
  padding: 24px 32px;
  transition: background-color 0.3s;
}

.btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-gold);
  width: 56px;
  height: 72px;
  transition: background-color 0.3s;
}

/* hover states */

.btn:hover .btn__header {
  background-color: var(--color-brand-gold);
}

.btn:hover .btn__icon {
  background-color: var(--color-brand-black);
}

.wrapper {
  display: grid;
  place-items: center;
}

/* header section */

.hero {
  position: relative;
}

.hero__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 32px 16px 120px 16px;
}

@media (min-width: 550px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    align-items: center;
  }

  .hero__image {
    grid-column: 1 / 8;
  }

  .hero__info {
    grid-column: 7 / -1;
    padding: 0;
    padding-right: 40px;
  }

  .hero__image,
  .hero__info {
    grid-row: 1 / 2;
  }
}

@media (min-width: 769px) {
  .hero {
    max-width: 1110px;
  }

  .hero::before {
    position: absolute;
    content: '';
    background-color: var(--color-brand-black);
    /* width 50% for the mix-blend-mode on the header to take effect */
    width: 50%;
    height: 100%;
    top: 0;
    left: -15%;
    z-index: -1;
  }

  .hero__image {
    grid-column: 4 / 9;
  }

  .hero__info {
    grid-column: 8 / -1;
    margin-top: -40px;
    max-width: 350px;
  }

  .hero__paragraph {
    margin-bottom: 50px;
  }

  .hero__heading {
    position: absolute;
    left: 0;
    color: var(--color-brand-white);
    mix-blend-mode: difference;
  }
}
